html {
  height: 100%;
  width: 100%;
}

body {
  height: inherit;
  width: inherit;
  background-color: #f8f8f8;
}

.maximize {
  height: inherit;
  width: inherit;
}

#app {
  height: inherit;
}

.badge {
  margin-left: 2px;
}

.badge button {
  background-color: inherit;
  border-color: transparent;
  box-shadow: none;
  color: inherit;
}

.add-project-container {
  display: inline-block;
}

.project-timeline-container {
  display: inline-block;
  vertical-align: top;
}
